.traditionalConceptArts__heading {
    border-bottom: 2px solid black;
    padding: 5px;
}

.traditionalConceptArts__element {
    padding: 10px;
    border-radius: 50px;
}

.traditionalConceptArts__element--vertical {
    width: 300px;
}

.traditionalConceptArts__element--horizontal {
    width: 400px;
}